on: 
 push: 
  branches:
   - master





jobs:
 build:
   runs-on: ubuntu-latest

   steps:
     - uses: actions/checkout@v3
       

     - name: " login to docker hub "
       run: docker login --username ${{secrets.USER}}    --password ${{secrets.DOCKER_TOKEN}}

     - name: "bulding docker image" 
       run: docker build -t ${{secrets.USER}}/myimage .

     - name: "pushing to docker hub  "
       run: docker push  ${{secrets.USER}}/myimage